body {
    margin: 0;
    padding: 0;
    background-color: rgb(157, 30, 30);
}

H1 {
    color: aliceblue;
    font-family: sans-serif;
}

h2 {
    color: white;
    font-family: sans-serif;
}




